.swatch {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-fixed-100);
    background: var(--component-canvas);
    box-shadow: var(--shadow-glow);
    border-radius: 4px;
}

.swatch-color {
    position: relative;
    border-radius: 4px;
    padding-top: 60%;
    color: white;
    display: grid;
    place-items: flex-end flex-start;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.swatch-color span {
    position: absolute;
    margin: 0 0 var(--gap-200) var(--gap-300);
    line-height: 1;
    background: inherit;
    background-clip: text;
    color: transparent;
    filter: invert(1) grayscale(1) contrast(9) sepia(1);
}

.swatch-color span:before {
    content: attr(data-label);
    font-size: 13px;
    text-transform: uppercase;
}

@media all and (prefers-color-scheme: dark) {
    .swatch-color span:not([data-label-dark=""]):before {
        content: attr(data-label-dark);
    }
}

.swatch-body {
    padding: var(--gap-300);
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    line-height: 1.1;
    align-items: start;
}

.swatch-body em {
    color: var(--text-color-secondary);
    font-style: normal;
}