.flex-wrap {
    --gap: var(--gap-400);
    --width: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: flex-start;
    width: 100%;
    max-width: var(--width);
    gap: var(--gap);
    margin-left: auto;
    margin-right: auto;
}

.flex-wrap-site-width {
    --width: var(--site-width);
}

.flex-wrap-gutter {
    --gutter: var(--site-gutter);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

.flex-wrap-gutter-collapse {
    --gutter-collapse: var(--site-width-s);
    position: relative;
    margin-left: max(var(--gutter) * -1, min(0px, (100vw - var(--gutter-collapse)) * 9999));
    margin-right: max(var(--gutter) * -1, min(0px, (100vw - var(--gutter-collapse)) * 9999));
}

.flex-wrap-full-width {
    min-width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}