.font-size-any {
    /* pass any (unitless) to and from value for arbitrary font scaling */
    --size-from: 16;
    --size-to: 24;
    --line-height: calc(1.7ex + 9px);
    --size-from-px: calc(var(--size-from) * 1px);
    --size-to-pixel: calc(var(--size-to) * 1px);
    --size-diff: calc(var(--size-to) - var(--size-from));
    font-size: clamp(var(--size-from-px), var(--size-from-px) + (var(--size-diff) * var(--scaler)), var(--size-to-pixel));
    line-height: var(--line-height);
}

.font-size-100 {
    font-size: var(--font-size-100);
    line-height: var(--line-height-100);
}

.font-size-200 {
    font-size: var(--font-size-200);
    line-height: var(--line-height-200)
}

.font-size-300 {
    font-size: var(--font-size-300);
    line-height: var(--line-height-300)
}

.font-size-400 {
    font-size: var(--font-size-400);
    line-height: var(--line-height-400)
}

.font-size-500 {
    font-size: var(--font-size-500);
    line-height: var(--line-height-500)
}

.font-size-600 {
    font-size: var(--font-size-600);
    line-height: var(--line-height-600)
}

.font-size-700 {
    font-size: var(--font-size-700);
    line-height: var(--line-height-700)
}

.font-size-800 {
    font-size: var(--font-size-800);
    line-height: var(--line-height-800)
}

.font-size-900 {
    font-size: var(--font-size-900);
    line-height: var(--line-height-900)
}